.header-section {
    text-align: center;    
    margin: 10vh;    
}

.header-image {
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: auto;
}

h1 {
    margin: 5px;
}

h2 {
    margin: 5px;
}

button {
    margin: 5px;
}