.navbar {    
    padding-top: 10px;
    text-align: center;
    font-size: 4vh;
    background-color: rgba(240, 217, 218, 0.6);
    color: #40514e;  
    position: fixed;  
    width: 100%;
    z-index: 5;
}

.navbar-nav li {
    list-style: none;
    display: inline-block;
    padding: 5px 40px 0px 40px;
}

a {
    list-style: none;
    text-decoration: none;
    color: #40514e; 
}

img {
    height: 10vh;
    width: auto;
}