.navbar {    
    padding-top: 10px;
    text-align: center;
    font-size: 4vh;
    background-color: #f0d9da;
    color: #40514e;
}

.nav-item {
    list-style: none;
    display: inline-block;
    padding: 5px 40px 0px 40px;
}

img {
    height: 10vh;
    width: auto;
}