.about-section {
    overflow: hidden;
    padding-left: 18px;
    padding-right: 18px;
    max-width: 1236px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: 10px 0 100px 0;
    color: #40514e;
}

.about-title {
    font-size: 50vh;
}

.profile-image {  
    margin-top: 20px;  
    margin-left: 100px;
    float: left;
    height: 600px;
    width: auto;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

.about-text {
    margin-top: 20px;
    text-align: center;
    float: right;
    width: 700px;
    font-size: 1.25rem;
    background-color: rgba(240, 217, 218, 0.8);
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
}

h3 {
    font-size: 2.2rem;
    font-weight: 400;
}

@media screen and (max-width: 960px) {

    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 350px;
        width: auto;        
        padding: 50px 50px 50px 60px;
        box-shadow: none;
    }

    .about-text {
        width: 400px;
        margin-right: 35px;
    }
}

@media screen and (width: 768px) { // iPad
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 600px;
        width: auto;
        padding: 50px 0 50px 130px;
        box-shadow: none; 
    }

    .about-text {
        width: 700px;
        margin-right: 25px;
    }
}

@media screen and (width: 450px) { // Surface Duo
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 60px;
        box-shadow: none; 
    }

    .about-text {
        width: 440px;
        margin-right: 5px;
    }
}

@media screen and (width: 414px) { // Iphone 6/7/8 plus
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 30px;
        box-shadow: none; 
    }

    .about-text {
        width: 400px;
        margin-right: 5px;
    }
}

@media screen and (width: 411px) { // Pixel 2

    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 30px;
        box-shadow: none; 
    }

    .about-text {
        width: 400px;
        margin-right: 5px;
    }
}

@media screen and (width: 375px) { // iPhone X

    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 20px;
        box-shadow: none; 
    }

    .about-text {
        width: 360px;
        margin-right: 7px;
    }
}

@media screen and (width: 360px) { // Galaxy S5
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 15px;
        box-shadow: none; 
    }

    .about-text {
        width: 350px;
        margin-right: 5px;
    }
}

@media screen and (width: 320px) { // Iphone SE    
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 300px;
        width: auto;
        padding: 50px 0 50px 0px;
        box-shadow: none; 
    }

    .about-text {
        width: 310px;
        margin-right: 5px;
    }
}


@media screen and (width: 280px) { // Galaxy Fold
    .about-image {
        display: block;
        text-align: center;
    }

    .profile-image {
        height: 250px;
        width: auto;
        padding: 50px 60px 50px 0;
        box-shadow: none; 
    }

    .about-text {
        width: 270px;
        margin-right: 5px;
    }
}