.form-container {
    background-color: lightskyblue;   
    margin: 10px auto; 
    width: 90%;
    box-shadow: 1px 1px 4px 1px lightgrey;
}

.form {
    width: 100%;
    padding: 10px;
}

.form-label {
    display: block;
    letter-spacing: 0.1rem;
    font-style: italic;
    margin-bottom: 3px;
}

.form-control,
.textArea {
    width: 100%;
    margin: 0 auto;
    padding: 10px;
    border: none;
    box-shadow: 1px 1px 4px 1px rgba(58, 57, 57);
}

.form-control:focus,
.textArea:focus {
    box-shadow: 1px 1px 4px 1px rgba(49, 170, 240);
}

.singleItem {
    margin: 10px 0;
}

.submit {
    width: 100%;
    text-align: center;
}

.submit-btn {
    width: 150px;
    font-size: 18px;
    letter-spacing: 0.2rem;
    padding: 5px 10px;
    border: 1px solid transparent;
    outline: none;
    transition: all 0.5s ease-in-out;
    position: relative;
    margin-top: 5px;
    display: inline;
}

.submit-btn:hover {
    border: 1px solid #fefefe;
    background-color: rgb(199,202,199);
    cursor: pointer;
}

.msg {
    text-align: center;
    margin: 0 auto;
    margin-bottom: 10px;
    letter-spacing: 0.2rem;
    font-style: italic;
    width: 340px;
    padding: 3px;
    font-size: 16px;
    font-weight: bold;
    background-color: #fff;
    border-radius: 5px;
    display: none;
}

.msgAppear {
    display: block;
}

.radio-control {
    margin: 5px;
}

.booking-title {
    text-align: center;
    padding-top: 100px;
    color: #40514e;
}

.booking-subtitle {
    text-align: center;
    color: #40514e;
}

@media screen and (min-width: 664px){
    .form-container {
        width: 60%;
    }
}

@media screen and (min-width: 986px){
    .form-container {
        width: 60%;
    }
    
}