.portfolio-section {
    text-align: center;    
    color: #40514e;
    height: 120vh;
    background-color: rgba(240, 217, 218, 0.6);
}

.portfolio-title {
    padding: 50px;    
}

.portfolio-slider {    
    position: relative;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.portfolio-slide {
    position: relative;    
    min-width: 100%;
    height: 100vh;
    transition: 0.5s; 
    overflow: hidden;
}

.portfolio-img {    
    width: 50%;
    height: 75%;
    border-radius: 20%;   
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3); 
}

.goLeft {
    position: absolute;
    top: 35%;
    left: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 70%;
    background: none;
    border: none;
    outline: none;
    transition: 0.5s;
}

.goRight{
    position: absolute;
    top: 35%;
    right: 0;
    transform: translateY(-50%);
    width: 10%;
    height: 70%;
    background: none;
    border: none;
    outline: none;  
    transition: 0.5s;  
}

.goRight:hover{
    background-color: rgba(240, 217, 218, 0.3);
    cursor: pointer;
    color: whitesmoke;
}

.goLeft:hover{
    background-color: rgba(240, 217, 218, 0.3);
    cursor: pointer;
    color: whitesmoke;
}

@media screen and (max-width: 1024px) {
    .portfolio-section {
        height: 70vh;
    }

    .portfolio-title {
        padding: 20px;
    }

    .portfolio-slider {
        height: 50vh;
    }

    .portfolio-slide {
        height: 50vh;
    }

    img.portfolio-img {        
        height: 75%;
        width: 60%;
    }

    .goRight {
        display: inline;
        height: 80%;
    }

    .goLeft { 
        display: inline;
        height: 80%;
    }
}