.pricing-section {
    text-align: center;
    background-color: rgba(240, 217, 218, 0.4 );
    color: #40514e;
}

.pricing-title {    
    padding-top: 100px;
}

.pricing-table-wrapper {    
    display: flex;
    align-items: center;
    justify-content: center;
    height: 600px;
    margin: 1em auto;
    overflow-x: hidden;
    overflow-y: hidden;
}

.container {
    width: 1170px;
    max-width: 100%;
    padding-left: 10px;
    padding-right: 10px;
    margin: auto;
}

.row {
    display: flex;
    flex-direction: row;
    margin-left: -10px;
    margin-right: -10px;
}

.col {
    flex: 0 0 35%;
    max-width: 35%;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    z-index: 1;
}

.col:hover ~ .col {
    z-index: 0;
}

.card {
    background: transparent;
    color: #fff;
    border-radius: 20px;
    text-align: center;
    height: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    cursor: pointer;
    position: relative;
    padding: 30px;
    overflow: hidden;
    transform: scale(1);
    transition: box-shadow, transform 300ms ease-in-out 0s;
}

.card:before {
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    background: rgba(255, 255, 255, 0.1);
    transform: skewX(-15deg) translateX(-100px);
    z-index: -1;
}

.card:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5);
    transform: scale(1.15);
    z-index: 1;
}

.bg-1 {
    background: linear-gradient(135deg, #ffaaa5, #ffaaa5);
}

.bg-2 {
    background: linear-gradient(135deg, #a8e6cf, #a8e6cf);
}

.bg-3 {
    background: linear-gradient(135deg, #a5dee5, #a5dee5);
}

.card label {
    font-size: 22px;
    font-weight: 700;
}

.card h3 {
    font-size: 60px;
    line-height: 1;
    margin: 15px 0;
}

.card h3 sup {
    font-size: 50%;
}

.card ul {
    list-style-type: none;
    margin-top: 30px;
    min-height: 150px;
}

.card ul li + li {
    margin-top: 10px;
}

.card li {
    font-size: 20px;
}

.card .btn {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    color: #222831;
    background: #fff;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: 1px;
    padding: 15px;
    border: none;
    border-radius: 100px;
    text-decoration: none;
    margin-top: 30px;
    width: 168px;
    max-width: 100%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
    transition: box-shadow 300ms;
}

.card .btn:hover {
    box-shadow: 0 10px 50px 0 rgba(0, 0, 0, 0.5)
}

@media screen and (max-width: 1024px) {
    .pricing-table-wrapper {
        height: 1600px;
    }    

    .col {
        flex: 0 0 100%;
        max-width: 100%;
        padding-left: 10px;
        padding-right: 10px;
        z-index: 1;
    }

    .row {
        display: flex;
        flex-direction: column;        
        margin-left: -10px;
        margin-right: -10px;
    }

    .card {
        margin: 20px
    }
}
